brew "jfrog-cli"
brew "jose"
brew "jq"
brew "k3d"
brew "kind"
brew "kubernetes-cli", link: false
brew "kops"
brew "kube-ps1"
brew "kubectx"
brew "kubeval"
brew "markdownlint-cli"
brew "maven"
brew "maven-completion"
brew "minikube"
brew "mysql"
brew "ncdu"
brew "nginx"
brew "nvm"
brew "pipx"
brew "pv"
brew "sops"
brew "stern"
brew "terraform"
brew "terraform-docs"
brew "terragrunt"
brew "tflint"
brew "tmux"
brew "vegeta"
brew "velero"
brew "watch"
brew "yarn"
brew "yq"
brew "zsh"
brew "zsh-completions"
brew "derailed/k9s/k9s"
brew "fairwindsops/tap/pluto"
brew "nathan-v/aws-okta-keyman/aws_okta_keyman"
brew "synfinatic/aws-sso-cli/aws-sso-cli"
brew "versent/taps/saml2aws"
brew "weaveworks/tap/eksctl"
cask "adoptopenjdk8"
cask "gpg-suite"

{{- if eq .email "scott.mccullough@sonos.com" }}
brew "sonos-inc/pdsw-devops/sk8s"
{{- end }}
