tap "adoptopenjdk/openjdk"
tap "aws/tap"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "nathan-v/aws-okta-keyman"
tap "versent/taps"
tap "weaveworks/tap"

brew "argocd"
brew "awscli", link: false
brew "cfssl"
brew "chezmoi"
brew "coreutils"
brew "docker-credential-helper-ecr", link: false
brew "ec2-instance-selector"
brew "gh"
brew "git-secret"
brew "git"
brew "gnupg", link: false
brew "gnutls"
brew "go"
brew "gox"
brew "groovy"
brew "helm"
brew "imagemagick"
brew "istioctl"
brew "jenv"
brew "jfrog-cli"
brew "jose"
brew "jq"
brew "k3d"
brew "kind"
brew "kops"
brew "kube-ps1"
brew "kubectx"
brew "kubernetes-cli", link: false
brew "kubeval"
brew "markdownlint-cli"
brew "maven-completion"
brew "maven"
brew "minikube", link: false
brew "mysql"
brew "ncdu"
brew "nghttp2"
brew "nginx"
brew "nmap"
brew "node", link: false
brew "nvm"
brew "1password-cli"
brew "pipx"
brew "pv"
brew "sops"
brew "stern"
brew "terraform-docs"
brew "terraform"
brew "terragrunt"
brew "tflint"
brew "tmux"
brew "unbound", link: false
brew "vegeta"
brew "velero"
brew "watch"
brew "wget"
brew "xdotool"
brew "yarn"
brew "yq"
brew "derailed/k9s/k9s"
brew "fairwindsops/tap/pluto"
brew "heroku/brew/heroku"
brew "nathan-v/aws-okta-keyman/aws_okta_keyman"
brew "synfinatic/aws-sso-cli/aws-sso-cli"
brew "versent/taps/saml2aws"
brew "weaveworks/tap/eksctl"

cask "adoptopenjdk8"
cask "gpg-suite"
cask "insomnia"
cask "xquartz"

{{- if eq .email "scott.mccullough@sonos.com" }}
brew "sonos-inc/pdsw-devops/sk8s"
{{- end }}
