tap "adoptopenjdk/openjdk"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "nathan-v/aws-okta-keyman"
tap "versent/taps"
tap "weaveworks/tap"
brew "argocd"
brew "awscli", link: false
brew "cfssl"
brew "chezmoi"
brew "coreutils"
brew "docker-credential-helper-ecr", link: false
brew "gh"
brew "git"
brew "unbound", link: false
brew "gnutls"
brew "gnupg", link: false
brew "git-secret"
brew "go"
brew "gox"
brew "groovy"
brew "helm"
brew "imagemagick"
brew "istioctl"
brew "jenv"
brew "jfrog-cli"
brew "jose"
brew "jq"
brew "kind"
brew "kops"
brew "kube-ps1"
brew "kubectx"
brew "node", link: false
brew "markdownlint-cli"
brew "maven"
brew "maven-completion"
brew "minikube", link: false
brew "mysql"
brew "ncdu"
brew "nghttp2"
brew "nginx"
brew "nmap"
brew "nvm"
brew "pv"
brew "sops"
brew "stern"
brew "terraform"
brew "velero"
brew "watch"
brew "wget"
brew "xdotool"
brew "yarn"
brew "yq"
brew "heroku/brew/heroku"
brew "nathan-v/aws-okta-keyman/aws_okta_keyman"
brew "versent/taps/saml2aws"
brew "weaveworks/tap/eksctl"
cask "adoptopenjdk8"
cask "gpg-suite"
cask "insomnia"
cask "xquartz"
